In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob

In [10]:
#import of the auction csv file
path = r'C:\Users\portable\oldtimertrends\quote' # to use it, change set your own path
all_files = glob.glob(path + "/*.csv")

#list of csv file
auction_list = []

for filename in all_files:
    #print(filename)
    df = pd.read_csv(filename, index_col=None, header=0)
    #print(df.shape)
    auction_list.append(df)

df = pd.concat(auction_list, axis=0, ignore_index=True)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [11]:
# set the price column format as a Float object with no currency formating anymore
df = df[df['quote_max_pricee'].notna()]
df['quote_max_price']= df['quote_max_price'].str.replace(" ", "")
df['quote_max_price']= df['quote_max_price'].str.replace("€", "")
df['quote_max_price'] = df['quote_max_price'].astype(float)

SyntaxError: invalid syntax (<ipython-input-11-c2b1aab56454>, line 1)

In [12]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [13]:
#sanitization
df = df.dropna()

In [14]:
df.to_csv("full_quote_cleaned.csv", encoding='utf-8', index=False)

In [15]:
df

,auction_url,quote_id,quote_max_price,quote_model,quote_year
1,cote.encheres.php?idCote=60,60.0,-------,12/15/20 HP torpédo,1910
2,cote.encheres.php?idCote=61,61.0,-------,24 HP torpédo,1911
7,cote.encheres.php?idCote=66,66.0,-------,RL Sport/RLSS torpédo,1922
8,cote.encheres.php?idCote=67,67.0,-------,RL Sport/RLSS cabriolet,1922
9,cote.encheres.php?idCote=68,68.0,-------,RM/RMS/RMU torpédo,1923
...,...,...,...,...,...
2347,cote.encheres.php?idCote=6779,6779.0,14 000 €,TR 8 cabriolet V8,1978
2349,cote.encheres.php?idCote=6781,6781.0,3 600 €,1300 TC (RF) berline traction avant,1968
2355,cote.encheres.php?idCote=8532,8532.0,2 200 €,Dolomite 1500 / 1500 HL (WG / WK) berline,1977
2358,cote.encheres.php?idCote=8533,8533.0,2 400 €,Dolomite 1850 HL (WE) berline,1977
2359,cote.encheres.php?idCote=6785,6785.0,14 000 €,Dolomite Sprint (VA) berline 16 soupapes,1974